/* classes */

.container-center {
  width: min(85%, 1200px);
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/*----*/

.app {
  margin-left: 72px;
  width: calc(100% - 72px);
}

/* header */
.profile {
  width: 100%;
  max-height: 1200px;
  position:sticky;
  top: 0;
  background: #fff;
  z-index: 2;
  padding-bottom: 16px;
}

.profile-picture {
  font-size: 1.6rem;
  padding: 10px 20px 10px 0;
  flex-shrink: 0;
  cursor: pointer;
}

.tooltip {
  position: absolute;
  background: black;
  color: white;
  padding: 8px 8px;
  border-radius: 12px;
  font-size: 1.2rem;
  white-space: nowrap;

  display: none;
}

.profile-picture img:hover+.tooltip {
  display: block;
  top: 75px;
  right: 25px;
}

.profile-picture i:hover+.tooltip {
  display: block;
  top: 60px;
  right: 5px;
}

.profile-picture i {
  margin-left: 10px;
}

.profile-picture img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid black;
}

.search {
  flex: 1;
  min-width: 0;
  padding: 16px;
}

.search-button,
.search-input {
  background: #e4e5df;
  border: none;
  padding: 16px;
  font-size: 1.6rem;
  font-weight: 500;
}

.search-input {
  flex: 1 1 auto;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  min-width: 0;
}

.search:hover .search-input,
.search:hover .search-button {
  background-color: var(--dark-primary-gray);
}

.search-input:focus {
  outline: none;
}

.search-button {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  cursor: pointer;
}

/* parte de baixo */
.profile-header-bottom {
  width: 100%;
  padding: 20px 0;
}

.top-subheader {
  min-height: 40px;
}

.top-subheader h1 {
  font-size: 3.6rem;
  color: var(--text-primary-color);
}

.profile-section {
  color: var(--text-primary-color);
  cursor: pointer;
}

.profile-section img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 5px;
}

.profile-info {
  justify-content: space-around;
  margin-right: 30px;
}

.profile-info span:first-of-type {
  font-size: 2rem;
  font-weight: 800;
}

.profile-info span {
  font-size: 1.4rem;
}

.btn {
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
}

.share-profile {
  font-size: 1.6rem;
  padding: 16px 20px;
  align-self: center;
}

.bottom-subheader {
  font-size: 1.6rem;
}

.bottom-subheader div {
  padding: 6px 10px;
  color: var(--text-primary-color);
  font-weight: 600;
  cursor: pointer;
  margin-top: 12px;
}

.profile__tab {
  padding-bottom: 4px;
}

.profile__tab.profile__tab--active {
  border-bottom: 1.5px solid #333;
}

/* profile publish*/

.profile-actions {
  justify-content: space-between;
  height: 100%;
  max-height: 48px;
}

.profile-actions-left {
  gap: 24px;
  padding: 6px 10px;
  font-size: 2rem;
}

.profile-actions-left i {
  font-size: 2rem;
  cursor: pointer;
}

.share-pins {
  padding: 10px 12px;
  height: 36px;
}

.share-pins:hover,
.share-profile:hover {
  background-color: var(--dark-primary-gray);
}

.btn-red {
  background: var(--primary-red);
  color: #fff;
}

.btn-gray {
  background: var(--primary-gray);
  color: var(--text-primary-color);
}

.create-pins {
  font-size: 1.6rem;
  padding: 6px 14px;
  height: 100%;
}

/* Folder section */

.folder-section {
  position: relative;
}

.top-folder-section {
  max-width: 320px;
  max-height: 320px;
  margin: 0 auto 20px auto;
  text-align: center;
}

.top-folder-section img {
  width: 180px;
  height: 180px;
  margin: 0 auto;
}

.top-folder-section h4 {
  font-size: 2rem;
}

.top-folder-section p,
.create-folder {
  font-size: 1.4rem;
}

.top-folder-section p {
  color: var(--text-primary-color);
  padding-bottom: 10px;
}

.create-folder {
  padding: 10px 14px;
  align-self: center;
}

.folder-section hr {
  width: 100%;
}

/* middle folder section */

.folder-info-text {
  margin-top: 48px;
  padding: 0 20px;
  margin-bottom: 20px;
}

.folder-info-text h2 {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-primary-color);
}

.folder-info-text p {
  color: var(--text-primary-color);
  font-size: 1.6rem;
  font-weight: 600;
}

.folder-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  justify-content: center;
  padding: 0 35px;
}

.folder-item {
  width: 100%;
  padding: 5px;
}

.img-card-grid {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px;
  border-radius: 16px;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.center-overlay {
  position: absolute;
  border-radius: 12px;
  background-color: #fff;
  padding: 10px 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 800;
  cursor: pointer;
}

.img-card-grid img:nth-child(1) {
  grid-row: span 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img-card-grid img:nth-child(2),
.img-card-grid img:nth-child(3) {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* bottom section */

.bottom-folder-header {
  margin: 24px 16px 20px;
  padding: 0 8px;
  font-size: 2rem;
  color: var(--text-primary-color);
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

.gallery-container img {
  width: 100%;
  margin-bottom: 16px;
  break-inside: avoid; 
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  
  .top-subheader {
    flex-direction: column;
    font-size: 1.8rem;
    gap: 10px;
  }

  .profile-section {
    /*flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;*/
    display: none;
  }

  .profile-info {
    margin: 0;
  }

}