.container {
  width: 100vw;
  height: 100vh;
}


.inner-container {
  margin-left: 72px;
  width: calc(100% - 72px);
  height: 100%;
}

/* header */
.profile-header {
  width: calc(100% - 72px);
  height: 100%;
  max-height: 1000px;
  position: fixed;
  background: #fff;
  z-index: 1000;
}
.top-profile-header {
  display: flex;
}

.profile-picture {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  padding: 10px 20px 10px 0;
}

.profile-picture i {
  margin-left: 5px;
}

.profile-picture img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid black;
}

.search-container {
  display: flex;
  width: 100%;
  padding: 16px;
}

.search-btn,
.search-bar {
  background: #e4e5df;
  border: none;
  padding: 16px;
  font-size: 1.6rem;
  font-weight: 500;
}

.search-bar {
  flex-grow: 1;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.search-bar:focus {
  outline: none;
}

.search-btn {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  cursor: pointer;
}

/* parte de baixo */
.bottom-profile-header {
  width: 100%;
  padding: 20px 0;
}

.top-subheader {
  display: flex;
  width: 85%;
  min-height: 40px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.top-subheader h1 {
  font-size: 3.6rem;
  color: #000;
}

.profile-section {
  display: flex;
  color: #000;
}

.profile-section img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 5px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 30px;
}

.profile-info span:first-of-type {
  font-size: 2rem;
  font-weight: 800;
}

.profile-info span {
  font-size: 1.4rem;
}

.btn {
  background-color: #e4e5df;
  color: #000;
  border-radius: 12px;
  font-weight: 600;
  border: none;
  height: 100%;
}

.share-profile {
  font-size: 1.6rem;
  padding: 16px 20px;
  align-self: center;
}

.bottom-subheader {
  width: 85%;
  display: flex;
  font-size: 1.6rem;
  margin: 0 auto;
}

.bottom-subheader div {
  padding: 6px 10px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  margin-top: 12px;
}

.bottom-subheader div span {
  padding-bottom: 4px;
}

.bottom-subheader div:nth-child(2) span {
  border-bottom: 1.5px solid #333;
}

/* profile publish*/

.profile-publish {
  width: 85%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  max-height: 48px;
  margin: 0 auto;
}

.left-profile-publish {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 6px 10px;
  font-size: 2rem;
}

.left-profile-publish i {
  font-size: 2rem;
}

.share-pins {
  padding: 10px 12px;
  height: 36px;
}

.red-btn {
  background-color: #e60024;
  border: none;
  color: #fff;
  border-radius: 12px;
  font-weight: 600;
  height: 100%;
}

.create-pins {
  font-size: 1.6rem;
  padding: 6px 14px;
}