.sidebar {
  position: fixed;
  overflow: visible;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 72px;
  border-right: 1px solid #c8c8c1;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
}

.sidebar-list {
  list-style: none;
  padding: 16px 0;
}

.sidebar-list-top li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  margin-bottom: 24px;
}

.sidebar-list-bottom {
  margin-bottom: 0;
}

.sidebar-item {
  position: relative;
  top: -2px;
  left: 1px;
  font-size: 2.4rem;
}

.sidebar-item i {
  color: #000;
}

.sidebar-item i:hover+.tooltip {
  display: block;
  z-index: 3;
  bottom: 2px;
  left: 45px;
}