*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  background-color: #fff;
}

/* ---- LEFT NAVBAR ---- */

#navbar {
    position: fixed;
    overflow: hidden auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 41px;
    border-right: 1px solid #c8c8c1;
    justify-content: space-between;
    align-items: center;
}

.navlist {
    list-style: none;
    padding: 16px 0;
}

.navlist.top li {
    margin-bottom: 16px;
}

.navlist.bottom {
    margin-bottom: 0;
}

.navbar-item {
    position: relative;
    top: -2px;
    left: 1px;
    font-size: 1.4rem;
}

.navbar-item i {
  color: #000;
}

/* ---- PROFILE HEADER ---- */

.inner-container {
    margin-left: 41px;
    width: calc(100% - 41px);
}

.profile-header {
    width: 100%;
}

.top-profile-header {
    display: flex;
}

.profile-picture {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 10px 10px 10px 0;
}

.profile-picture i {
    margin-left: 5px;
}

.profile-picture img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1.2px solid black;
}

.search-container {
    display: flex;
    width: 100%;
    padding: 8px 8px 8px 12px;
} 

.search-btn, .search-bar {
    background: #e4e5df;
    border: none;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 600;
}

.search-bar {
    flex-grow: 1;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-bar:focus {
  outline: none;
}

.search-btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

/* ---- BOTTOM PROFILE HEADER ---- */

.bottom-profile-header {
    width: 100%;
    padding: 20px 0;
}

.top-subheader {
    display: flex;
    width: 85%;
    min-height: 40px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.top-subheader h1 {
    font-size: 1.8rem;
    color: #000;
}

.profile-section {
    display: flex;
    color: #000;
}

.profile-section img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 5px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 30px;
}

.profile-info span:first-of-type {
    font-size: 1.2rem;
    font-weight: 800;
}

.profile-info span {
    font-size: 0.8rem;
}

.share-profile-btn {
    background-color: #e4e5df;
    color: #000;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    border: none;
    padding: 8px;
    align-self: center;
    height: 100%;
}

.bottom-subheader {
    width: 85%;
    display: flex;
    font-size: 0.8rem;
    margin: 0 auto;
}

.bottom-subheader div {
    padding: 6px 10px;
    color: #000;
    font-weight: 600;
    cursor: pointer;
}

.bottom-subheader div span {
    padding-bottom: 4px;
}

.bottom-subheader div:nth-child(2) span {
    border-bottom: 1.5px solid #333;
}